.fighter-preview___root {
  display: flex;
  flex-direction: column;
  flex-basis: 250px;
}

.fighter-preview___root>img {
  height: 400px;
}

.fighter-preview___right {
  align-items: flex-end;
}

.fighter-preview___right>img {
  transform: rotateY(180deg);
}

.fighter-preview___left {
  align-items: flex-start;
}

.fighter-preview__info {
  color: #946e3c;
  font-size: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin-top: 15px;
  background: #ffdfa7;
  border: 5px solid #ca9650;
}

.fighter-preview__info h3 {
  text-align: center;
  margin: 0;
}

.fighter-preview__info div {
  display: flex;
}

.fighter-preview__info span {
  margin-left: auto;
}